services:

  nginx:
   build: ./website/frontend
   networks:
    - backend
   ports:
   - "80:80"
   volumes:
    - ./website/frontend/public:/usr/share/nginx/html:ro
   depends_on:
    - resume-api

  resume-api:
   build: ./website/backend/resume-api
   env_file:
    - .env
   environment:
    - MONGO_URL=${MONGO_URL}
    - USER_EMAIL=${USER_EMAIL}
    - USER_NAME=${USER_NAME}
    - USER_LOCATION=${USER_LOCATION}
    - USER_PHONE=${USER_PHONE}
   networks:
    - resume-api
    - backend
   volumes:
    - ./website/backend/resume-api:/app:ro
    - /app/node_modules

  mongodb:
   image: mongo:8
   networks:
    - resume-api

networks:
 backend:
  driver: bridge
 resume-api:
  driver: bridge
